{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <style>
        :root {
            --tblr-font-sans-serif: 'Inter var',ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
        }

        html {
            font-feature-settings: "cv02", "cv03", "cv04", "cv11";
        }

        .antialiased {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .dropdown-item:hover {
            background-color: rgba(108, 122, 145, 0.08);
        }
    </style>

</head>

<body class="antialiased">
    <div class="page">
        <header class="navbar navbar-expand-sm navbar-light d-print-none">
            <div class="container-xl">
                <a class="navbar-brand" href="/">
                    <img src="/static/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                    AutoMage
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mb-sm-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/jobs' %}active{% endif %}" aria-current="page"
                                href="{% url 'cronjob_list' %}">Jobs</a>
                        </li>
                        {% endif %}
                    </ul>

                    <div class="d-flex">
                        {% if user.is_authenticated %}

                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                              <span class="avatar avatar-sm" style="background-image: url(https://ui-avatars.com/api/?name={{user.username}})"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                              <a href="#" class="dropdown-item">Status</a>
                              <a href="#" class="dropdown-item">Profile</a>
                              <div class="dropdown-divider"></div>
                              <a href="#" class="dropdown-item">Settings</a>
                              <a href="{% url 'logout' %}"  class="dropdown-item">Logout</a>
                            </div>
                          </div>

                        {% else %}

                        <a href="{% url 'login' %}" class="btn me-2">Login</a>

                        <a href="{% url 'register' %}" class="btn">Register</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        <div class="container mt-4">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item"><a href="#" target="_blank" class="link-secondary" rel="noopener">Email Us</a></li>
                            <li class="list-inline-item"><a href="#" class="link-secondary">Privacy policy</a>
                            </li>
                            <li class="list-inline-item"><a href="#" target="_blank" class="link-secondary" rel="noopener">Terms of service</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                Copyright © 2024
                                <a href="." class="link-secondary">AutoMage</a>.
                                All rights reserved.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>