{% extends 'base.html' %}

{% block title %}AutoMage - Home{% endblock %}

{% block content %}

<style>
    .hero-title {
        font-size: 58px;
        line-height: 58px;
        font-weight: 800;
        letter-spacing: -.02em;
    }

    .hero-description {
        font-size: 18px;
        line-height: 28px;
        margin: 0 auto;
        max-width: 40rem;
    }

    .text-lg {
        font-size: 48px;
        line-height: 48px;
        font-weight: 700;
    }

    .card {
        height: 200px;
    }

    .card-body {
        margin-top: 20px;
        height: 180px;
    }

    .card-text {
        font-size: 18px;
        line-height: 28px;
        opacity: 0.7;
    }

    .feature-col h4 {
        font-size: 28px;
        line-height: 36px;
        font-weight: 600;
    }

</style>

<div class="text-center my-7">
    <div style="max-width: 900px;" class="mx-auto">
        <h1 class="hero-title">Effortless Cron Job Scheduling and Monitoring</h1>
        <p class="hero-description mt-4">Say goodbye to the hassle of managing servers and infrastructure. With
            <strong>AutoMage</strong>, scheduling and monitoring cron jobs has never been easier.
        </p>

        <div class="mt-6">
            <a href="{% url 'login' %}">
                <button class="btn btn-primary">
                    Get Started for Free
                </button>
            </a>
        </div>
    </div>
</div>

<div class="text-center mt-8 container-small">
    <div class="my-6">
        <h2 class="text-lg">What's included?</h2>
    </div>
    <div class="row">
        <div class="col-md-4 feature-col my-2">
            <div class="card">
                <div class="ribbon ribbon-top bg-yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                        <path d="M12 7v5l3 3" />
                    </svg>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Scheduling</h4>
                    <p class="card-text">Set up jobs with ease using flexible time intervals or cron expressions.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 feature-col my-2">
            <div class="card">
                <div class="ribbon ribbon-top bg-yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-line" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 19l16 0" />
                        <path d="M4 15l4 -6l4 2l4 -5l4 4" />
                    </svg>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Monitoring</h4>
                    <p class="card-text">Keep track of your jobs' uptime and running times effortlessly.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 feature-col my-2">
            <div class="card">
                <div class="ribbon ribbon-top bg-yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15 17h-11a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6a2 2 0 1 1 4 0a7 7 0 0 1 4 6v1.5"></path>
                        <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                        <path d="M19 16v3"></path>
                        <path d="M19 22v.01"></path>
                    </svg>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Instant Alerts</h4>
                    <p class="card-text">Receive immediate notifications if your jobs encounter issues or run longer
                        than expected.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 feature-col my-2">
            <div class="card">
                <div class="ribbon ribbon-top bg-yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                        <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                        <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                    </svg>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Team Collaboration</h4>
                    <p class="card-text">Invite team members to collaborate seamlessly using our shared dashboard.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 feature-col my-2">
            <div class="card">
                <div class="ribbon ribbon-top bg-yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-pie" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8" />
                        <path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5" />
                    </svg>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Insightful Metrics</h4>
                    <p class="card-text">Gain valuable insights with comprehensive analytics on key job metrics and
                        monitors.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 feature-col my-2">
            <div class="card">
                <div class="ribbon ribbon-top bg-yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-analytics"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                        <path d="M9 17l0 -5" />
                        <path d="M12 17l0 -1" />
                        <path d="M15 17l0 -3" />
                    </svg>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Log Access</h4>
                    <p class="card-text">Access your logs conveniently, all neatly organized in one place.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}