{% extends 'base.html' %}

{% block title %}Schedule jobs{% endblock %}

{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            Create new cronjob
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <form action="{% url 'cronjob_create' %}" method="post" class="card">
                    <div class="card-header">
                        <h4 class="card-title">Schedule</h4>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                            {{form.non_field_errors}}
                            </div>
                        {% endif %}
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="name" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Schedule</label>
                            <input type="text" class="form-control" name="schedule" placeholder="0 18 * * *" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Url</label>
                            <input type="text" class="form-control" name="url" placeholder="http://example.com/..." />
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'cronjob_list' %}" class="btn btn-ghost-secondary">Back</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}